<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ThoughtBlocks</title>
		<link rel="stylesheet" href="/static/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/4972c6be61.js" crossorigin="anonymous"></script>
	</head>
	<body>
<header>
	<nav id="header-nav-bar">
		<h1 id="page-title">ThoughtBlocks</h1>
		<div id="nav-con">
			<a class="nav-link" href="/">Home</a>
			<a class="nav-link" href="/thoughts">Thoughts</a>
			<a class="nav-link" href="/login">Login</a>
			<a class="nav-link" href="/signup">Signup</a>
		</div>
	</nav>
</header>
