<%- include ('partials/header.ejs') %>

<main id="create-main">
	<form action="/create" method="POST" id="thought-form">
		<div id="form-con">
            <label class="form-label" for="title-input">Title</label>
			<input type="text" min-length="8" name="title" placeholder="....." id="title-input"/>
            <label class="form-label" for="content-input">Content</label>
			<textarea
				name="content"
				placeholder="....."
				id="content-input"
				minlength="10"
			></textarea>
		</div>
		<div class="button-con">
			<input type="submit" value="Create" id="create-button" />
		</div>
	</form>
</main>

<%- include ('partials/footer.ejs') %>
