<%- include ('partials/header.ejs') %>
<main id="home-main">
	<div id="home-info">
		<div id="home-image-con">
			<img src="/static/resources/logo-no-background.png" class="page-logo" />
		</div>
		<div class="line vertical"></div>
		<div id="home-text">
			<h3>SHARE HOW YOU THINK</h3>
			<p>
				This is a place where you can express your thoughts<br />
				and share them with others with ease.<br />
				Find a topic <i class="fa-solid fa-comment" style="color: #ffffff;"></i> that you are interested in, or start your own <i class="fa-solid fa-list" style="color: #ffffff;"></i> .<br />
			</p>
			<a href="/thoughts" class="nav-link">Explore <i class="fa-solid fa-magnifying-glass " style="color: var(--primary);"></i></a>
		</div>
	</div>
</main>
<%- include ('partials/footer.ejs') %>
