<%- include("partials/header.ejs") %>

<main id="thought-main">
	<div id="function-con">
		<div  class="breaker-div"></div>
			<div id="button-con">
			<a href="/create#thought-form"
				><button id="create-button">Create</button></a
			>
			<button id="sort-button">Sort</button>
		</div>
        <div class="breaker-div"></div>
	</div>
</main>

<%- include("partials/footer.ejs") %>
